/* body {
  counter-reset: section;
} */

h1{
  counter-reset: subsection;
}

/* h1::before {
  counter-increment: section;
  content: counter(section) ". ";
} */

h2{
  counter-reset: subsubsection def_thm;
}

h2::before {
  counter-increment: subsection;
  content: /* counter(section) "."*/ counter(subsection) ". ";
}

h3::before {
  counter-increment: subsubsection;
  content: /* counter(section) "."*/ counter(subsection) "." counter(subsubsection) ". ";
}


p.definition::before {
  /* content: "Definition. "; */
  counter-increment: def_thm;
  content: "Definition " /* counter(section) "."*/ counter(subsection) "." counter(def_thm) ". ";
  font-weight: bold;
}

p.example::before {
/* content: "Example. "; */
counter-increment: def_thm;
content: "Example " /* counter(section) "."*/ counter(subsection) "." counter(def_thm) ". ";
font-weight: bold;
}
